In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("./data_5_freq.csv")

df_blank = df.loc[(df["1"] == False) & (df["2"] == False) & (df["3"] == False) & (df["4"] == False) & (df["5"] == False) & (df["6"] == False) & (df["7"] == False) & (df["8"] == False)]

In [3]:
len(df)

2890

In [4]:
df_no_blank = df.loc[~df["id"].isin(df_blank["id"])]

In [5]:
X = df_no_blank[["id", "text"]]
y = df_no_blank[["id", "1", "2", "3", "4", "5", "6", "7", "8"]]

In [6]:
train, test, _, _ = train_test_split(df_no_blank, df_no_blank, test_size=0.11, random_state=42)

In [7]:
new_train = pd.concat([train, df_blank])
new_train

,id,text,view,vote,chapter,1,2,3,4,5,6,7,8
2689,2769.0,bí_ẩn diệp linh_dị vụ sở dịch quyển khổ kỳ kỳ ...,1073.0,118.0,100.0,False,True,False,False,False,True,False,False
1326,1368.0,rose young 24 old model dream big world highsc...,NaN,NaN,NaN,True,True,False,False,False,True,False,False
2010,2076.0,song journey trận chiến chén thánh london suy ...,8103.0,339.0,97.0,True,True,True,False,False,False,False,True
927,954.0,ngại giường lưu tam tam 3 ngoại ngại giường tì...,130165.0,2006.0,76.0,True,False,False,False,False,False,False,False
135,136.0,trọng sinh chi tức phụ nhi dưỡng_thành nguyên ...,32440.0,276.0,5.0,True,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2383,2461.0,trò,NaN,NaN,NaN,False,False,False,False,False,False,False,False
2415,2493.0,countryhuman x reader oneshot guess countryhum...,NaN,NaN,NaN,False,False,False,False,False,False,False,False
2655,2734.0,kết_hôn nhân_vật cẩu huyết hiện_đại 1x1 tổng_t...,49053.0,5221.0,86.0,False,False,False,False,False,False,False,False
2780,2862.0,x reader warn ooc tục vui,NaN,NaN,NaN,False,False,False,False,False,False,False,False
2882,2967.0,cổ_tích nghiện nhạc f wrote,2555.0,199.0,12.0,False,False,False,False,False,False,False,False

In [8]:
train_len = len(new_train)
test_len = len(test)

for i in range(1, 9):
    num_train_true = new_train[str(i)].sum()
    num_test_true = test[str(i)].sum()
    
    print(f"Tag {i}")
    print(f"True tag pct train: {float(num_train_true) / float(train_len) * 100}")
    print(f"True tag pct test: {float(num_test_true) / float(test_len) * 100}")

Tag 1
True tag pct train: 51.222351571594885
True tag pct test: 49.201277955271564
Tag 2
True tag pct train: 33.91540551028328
True tag pct test: 32.9073482428115
Tag 3
True tag pct train: 34.769111369809856
True tag pct test: 30.990415335463258
Tag 4
True tag pct train: 26.30966239813737
True tag pct test: 26.198083067092654
Tag 5
True tag pct train: 10.593713620488941
True tag pct test: 10.543130990415335
Tag 6
True tag pct train: 19.90686845168801
True tag pct test: 23.322683706070286
Tag 7
True tag pct train: 5.316259216142802
True tag pct test: 4.15335463258786
Tag 8
True tag pct train: 6.1311602638727205
True tag pct test: 4.472843450479233

In [11]:
id_test = list(test["id"].values)

In [23]:
df_no_freq = pd.read_csv("./data_no_freq.csv")
df_5_freq = pd.read_csv("./data_5_freq.csv")
df_10_freq = pd.read_csv("./data_10_freq.csv")

In [21]:
train_no_freq = df_no_freq.loc[~df_no_freq["id"].isin(id_test)].drop(["view", "vote", "chapter"], axis=1)
train_no_freq.to_csv("./train_no_freq.csv", index=False)

In [24]:
train_5_freq = df_5_freq.loc[~df_5_freq["id"].isin(id_test)].drop(["view", "vote", "chapter"], axis=1)
train_5_freq.to_csv("./train_5_freq.csv", index=False)

In [25]:
train_10_freq = df_10_freq.loc[~df_10_freq["id"].isin(id_test)].drop(["view", "vote", "chapter"], axis=1)
train_10_freq.to_csv("./train_10_freq.csv", index=False)

In [27]:
test_data = df_no_freq.loc[df_no_freq["id"].isin(id_test)].drop(["view", "vote", "chapter"], axis=1)
test_data.to_csv("./test.csv", index=False)